# This configuration comes from the Guix Cookbook
# https://guix.gnu.org/cookbook/en/guix-cookbook.html#Environment-management

if command -v guix; then

  gcroots="$HOME/.cache/guix/gcroots"

  # We register a garbage collector root to prevent guix gc
  # from removing required packages
  mkdir -p "$gcroots"
  gcroot="$gcroots/$(basename "$(pwd)").git"

  if [ -L "$gcroot" ]
  then
    rm -v "$gcroot"
  fi

  use guix -l guix.scm -m manifest.scm

  # Add development scripts to PATH
  export PATH="$(pwd)/scripts:${PATH}"

  configure() {
    ./configure --localstatedir=/var --prefix=
  }
  export_function configure

  # Run make
  build() {
    make -j 8
  }
  export_function build

  run-tests () {
    make check
  }

  export_function run-tests


  clear
  git-cal --author="$(git config user.name)"

  export_function run-tests
  cat << EOF

configure       Runs ./configure with an optional PREFIX argument
build           Runs make -j 8
run-tests       Runs make check

The 'scripts' directory has been added to your PATH: you can now invoke scripts without typing the relative path.

EOF

fi
